@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}



.ng-enter {
    position: relative;
    animation: slideInRight 0.3s both ease-in-out;
}

.ng-leave {
    // animation: slideOutLeft 0.5s both ease-in;
}