<div class="page-heading">
	<h1>Organizations Page</h1>
	<p>{{message}}</p>
</div>

<input type="seach" class="search-field" placeholder="Just search wild!" ng-model="search">

<div class="heroList" ng-controller="organizationList">
	<div class="list-item" ng-repeat="organization in organizations | filter:search">
		<div class="small-12 large-3 columns">
			<h4>Name:</h4>
			<p>{{organization.name}}</p>
		</div>
		<div class="small-12 large-3 columns">
			<h4>Created:</h4>
			<p>{{organization.created}}</p>
		</div>
		<div class="small-12 large-3 columns">
			<h4>Comic:</h4>
			<p>{{organization.comic}}</p>
		</div>
		<div class="small-12 large-3 columns">
			<h4>Universe:</h4>
			<p>{{organization.universe}}</p>
		</div>
		<div class="small-12 columns description">
			<h4>Description:</h4>
			<p>{{organization.description}}</p>
		</div>
	</div>
</div>

<script>
	var organizationList = function ($scope) {
		$scope.heroes = [
			{
				name: "", 
				created: "", 
				description: "", 
				comic: "", 
				universe: "Earth 616"
			},
			{
				name: "", 
				created: "", 
				description: "", 
				comic: "", 
				universe: "Earth 616"
			},
		];
	};
</script>